.footer-container {
  background-color: #f9f5ff; 
  border-top: 1px solid #e5e4e7;
  padding: 15px 20px;
  
  
  margin-top: auto; 
}


.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;          
  flex-wrap: wrap;    
  font-size: 14px;
  color: #6b6375;
}


.footer-content a {
  color: #aa3bff;   
  text-decoration: none;
  font-weight: 600;
}

.footer-content a:hover {
  text-decoration: underline;
}

.separator {
  color: #ccc;
}